{% load static %}


<!DOCTYPE html>
<html lang="en">
<style>
div.container {
    display: inline-block;
    position:relative;
    overflow:auto;

}
</style>
<head>



<!--

Template 2082 Pure Mix

http://www.tooplate.com/view/2082-pure-mix

-->
	<link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- Site title
   ================================================== -->
    <title>Paradyme Management Database</title>

    <!-- Bootstrap CSS
   ================================================== -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Animate CSS
   ================================================== -->
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">

    <!-- Font Icons CSS
   ================================================== -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">

    <!-- Main CSS
   ================================================== -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Google web font 
   ================================================== -->   
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />

</head>
<body>


<!-- Preloader section
================================================== -->
<div class="preloader">

    <div class="sk-spinner sk-spinner-pulse"></div>

</div>


<!-- Navigation section
================================================== -->
<div class="nav-container">
   <nav class="nav-inner transparent">

      <div class="navbar">
         <div class="container">
            <div class="row">

              <div class="brand">
                <a href="{% url 'home' %}">Paradyme Management</a>
              </div>


             

            </div>
         </div>
      </div>

   </nav>
</div>


  <div  style="position: absolute; top: 25px; right: 15px; text-align:right; display:inline-block;">
      <a href="{% url 'add' %}"><button type="button" class = "btn btn-default">New Session</a>
      <a href="{% url 'logout' %}"><button type="button" class = "btn btn-default">Log Out</a>

  </div>

  

<!-- Header section
================================================== -->
<section id="header" class="header-one">
    <div class="container">
        <div class="row">

            <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
          <div class="header-thumb">
              <h1 class="wow fadeIn" data-wow-delay="1.6s">Welcome {{ name.FName }}</h1>
          </div>
            </div>

        </div>
    </div>      
</section>


<!-- Portfolio section
================================================== -->


<section id="portfolio">

    <div>
    Past Time Sheet
      </div>
   <div class="container">
    <table class="table table-bordered">
    <thead>
      <tr>
        <th>Intern</th>
        <th>Date</th>
        <th>Time In</th>
        <th>Time Out</th>
        <th>Duration (Hours)</th>


      </tr>
    </thead>
    <tbody>
      {% for user1 in filter1 %}
        <tr>
        


          <td>{{ user1.intern}}</td>
          <td>{{ user1.date}}</td>
          <td>{{ user1.time_in}}</td>
          <td>{{ user1.time_out}}</td>
          <td>

            {{user1.duration}}

          </td>

        </tr>
      {% empty %}
        <tr>
          <td colspan="5">No data</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>




   </div>
  </section>

<!-- Footer section
================================================== -->
<footer>
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <p class="wow fadeInUp"  data-wow-delay="0.3s">Paradyme Internship - Summer 2017 Time Sheet  </p>

            </div>
            <img src= "{% static 'images/paradyme-green.png' %}" style="height:40px;width:184px;" > </img>
        </div>
    </div>
</footer>


<!-- Javascript 
================================================== -->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/isotope.js' %}"></script>
<script src="{% static 'js/imagesloaded.min.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>

</body>
</html>
